name: Autobump Formulas and Casks

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  autobump:
    runs-on: macos-latest
    steps:
      - name: Update Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@eb2b2ae18746ad074c139fbbf1d098b301f51752 # v5
        with:
          token: ${{ secrets.HOMEBREW_TAP_GITHUB_API_TOKEN }}
          user_name: Neved4
          user_email: 63655535+Neved4@users.noreply.github.com
          no_fork: true
          tap: Neved4/homebrew-tap
          force: true
          livecheck: true
      - name: Update Homebrew cask
        uses: eugenesvk/action-homebrew-bump-cask@a05fd49892799eade237259963d787ba0143dab1 # v3.8.5
        with:
          token: ${{ secrets.HOMEBREW_TAP_GITHUB_API_TOKEN }}
          tap: Neved4/homebrew-tap
          livecheck: true
